h1{
     
    font-size: 100px;
    
}
body{
    background-color: rgba(166, 236, 232, 0.817);
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    display: flex;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.page1{
    display: none;
}
.playboard1 {
  display: none;
  
  flex-wrap: wrap;
  /* width: 220px; */
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.board1{
    display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
}
.board2, .board3{
    
       display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
  
}
.board1 .sqr.marked {
  background-color: rgb(164, 164, 231);
    color: white;
}
.board2 .sqr.marked {
  background-color: rgb(190, 233, 185);
    color: white;
}
.board3 .sqr.marked {
  background-color: rgb(239, 202, 171);
    color: white;
}
.player1{
    margin: 0 30px 0 0;
}
.player2{
    margin: 0 0 0 30px;
}

.playboard2 {
    display: none;
    flex-direction: row;
    /* width: 500px; */
    justify-content: space-around;
    align-items: center;
    /* margin: 30px auto;
    min-height: 100vh; */
    text-align: center;
  
  
}
.sqr {
     width:50px;
     height: 50px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

   
  

    

}
.playAgain1 {
    /* display: flex; */
    /* position: absolute; */
    margin-top: 60px;
  padding: 10px 20px;
  font-size: 18px;
}

.playAgain2 {
    /* display: flex; */
    /* position: absolute; */
    margin-top: 650px;
  padding: 10px 20px;
  font-size: 18px;
}
.BINGO{
    font-size: 40px;
    text-align: center;
}

.theNumberIs {
  /* position: absolute; */
  /* top: 20px;
  left: 50%; */
  text-align: center;
  margin: auto;
 
}
.numbersBtn {
  /* position: absolute; */
  /* bottom: 20px; */
  /* left: 44%; */
 text-align: center;
 margin-top: 20px;


}

.buttons1 {
  

}
.buttons2 {
  /* position: absolute; */
  /* display: flex;
  flex-direction: column; */
display: block;
margin: 0 auto;
}

.letters.crossed {
  text-decoration: line-through;
  color: rgb(252, 10, 10);
  opacity: 0.6;
}
